<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body style="font-family: 'Poppins',sans-serif; margin:0;">
    <h1 style="font-size: 15px; color: #343A40; font-weight: 600;">Santiago Pantin</h1>
    <h2 style="font-size: 11px; color: #343A40; text-transform: uppercase; letter-spacing: 2px; font-weight: 400; margin-top:-5px;">Head of UX/UI</h2>
    <div class="contacto" style="margin: 16px 0;"> 
      <p style="font-size: 12px; color: #343A40;"><img width="24" src="assets/logo.png" alt=""> <a href="mailto:santi@dasbanq.com" style="color: #343A40; text-decoration: none;">santi@dasbanq.com</a></p>
    </div>
    <div class="footer">
      <div class="logo" style="display: inline-block; vertical-align: middle; margin-right: 40px;">
        <a target="_blank" href="https://dasbanq.com/">
          <img width="40" src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXZjOXpiZGk0dml4Yno2Z2d5eHkycWV3aXF2M2hvb29qN3RyemtrNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/fitA5UyqrgnbkMVOry/giphy.gif" />
          </a>
      </div>
      <div class="social-icons" style="display: inline-block; vertical-align: middle;">
        <a style="text-decoration: none; margin-right:20px" target="_blank" href="">
          <img width="16" src="https://imgur.com/bIchvMA"/>
        </a>
        <a style="text-decoration: none; margin-right:20px" target="_blank" href="">
          <img width="20" src="" />
        </a>
        <a style="text-decoration: none;" target="_blank" href="">
          <img width="16" src="" />
        </a>
      </div>
    </div>
  </body>
</html>
